# This is a configuration file for extract-files.pl.
#
# Comment lines start with the # symbol and will be ignored.
# Blank lines will be ignored.
#
# There are two sections of this configuration file. The first is defining variables.
# The format is "NAME=VALUE". Variables may then be used anywhere in the config 
# with "$NAME".  These are the required variables:
#
# Required variables are:
#  DEVICE            - The name of the device 
#
# The second section is the list of files that need to be extracted from a device.
# Lines are separated into fields with a colon (:).  The only absolutely necessary
# field is the first (the source path on the device).
#
# Fields are:
#   1. The source path on the device
#   2. The word "requiredForBuild" means that this file is needed to build the open
#      source files.  The file will also be copied to the buld tree.  Leave this
#      field blank if the file is not needed for the build.
# 
DEVICE=msm8660_surf
COMMON=c1-common
MANUFACTURER=qcom

# Busybox
/system/xbin/busybox

# Required by the kernel

# Framebuffer support
/system/lib/libC2D2.so
/system/lib/libgsl.so
/system/lib/libOpenVG.so

# EGL
/system/lib/libEGL.so
/system/lib/egl/eglsubAndroid.so
/system/lib/egl/libEGL_adreno200.so
/system/lib/egl/libGLESv1_CM_adreno200.so
/system/lib/egl/libGLESv2_adreno200.so
/system/lib/egl/libq3dtools_adreno200.so

# Sensors
/system/lib/libakm.so

# HW subdirectory
/system/lib/hw/copybit.msm8660.so
/system/lib/hw/gps.default.so
/system/lib/hw/gralloc.default.so
/system/lib/hw/gralloc.msm8660.so
/system/lib/hw/lights.msm8660.so
/system/lib/hw/overlay.default.so
/system/lib/hw/sensors.default.so

# APN definitions
/system/etc/apns-conf.xml

# Firmware
/system/bin/qcks
/system/bin/ks
/system/etc/firmware/RS_M5LS_O.bin
/system/etc/firmware/RS_M5LS_S.bin
/system/etc/firmware/dsps_fluid.b00
/system/etc/firmware/dsps_fluid.b01
/system/etc/firmware/dsps_fluid.b02
/system/etc/firmware/dsps_fluid.b03
/system/etc/firmware/dsps_fluid.mdt
/system/etc/firmware/vidc_1080p.fw

#Adreno200 Driver Firmware
/system/etc/firmware/leia_pfp_470.fw
/system/etc/firmware/leia_pm4_470.fw
/system/etc/firmware/yamato_pfp.fw
/system/etc/firmware/yamato_pm4.fw
/system/etc/firmware/a225_pfp.fw
/system/etc/firmware/a225_pm4.fw
/system/etc/firmware/a225p5_pm4.fw
/system/etc/firmware/a300_pfp.fw
/system/etc/irmware/a300_pm4.fw

# Wifi
/system/etc/wifi/bcm4330_aps.bin
/system/etc/wifi/bcm4330_mfg.bin
/system/etc/wifi/bcm4330_sta.bin
/system/etc/wifi/bcm4330_p2p.bin
/system/etc/wifi/default_ap.conf
/system/etc/wifi/nvram_mfg.txt
/system/etc/wifi/nvram_mfg.txt_murata
/system/etc/wifi/nvram_net.txt
/system/etc/wifi/nvram_net.txt_murata
/system/etc/wifi/wl
/system/etc/wifi/wpa_supplicant.conf
/system/bin/wpa_supplicant
/system/lib/libsecril-client.so
/system/lib/libhardware_legacy.so

# Bluetooth


# Camera


# Radio
/system/lib/libdiag.so
/system/lib/libril-qc-qmi-1.so
/system/lib/libril-qcril-hook-oem.so
/system/lib/libqmi.so
/system/lib/libdsutils.so
/system/lib/libqmiservices.so
/system/lib/libidl.so
/system/lib/libdsi_netctrl.so
/system/lib/libnetmgr.so
/system/lib/libqdp.so

#/system/bin/rild
/system/bin/rmt_storage
/system/bin/qmiproxy

# GPS
/system/lib/libloc_api-rpc-qc.so
/system/etc/gps.conf

